.app{
    display: flex;
    justify-content: center;
   
    gap: 2rem;
    
  }
.card{

    display: flex;
    flex-direction: column;
    justify-content:stretch;
    width: 350px;
    height: 550px;
    gap: 1rem;
    
}
.img{
    width: 350px;
    height: 260px;
  object-fit: cover;
  }
  .name{
    font-size: larger;
    font-weight: bolder;
  }
  a:hover{

    text-decoration-line: underline;
  }